<p style="color: green"><%= notice %></p>

<% content_for :title, "Mocroposts" %>

<h1>Mocroposts</h1>

<div id="mocroposts">
  <% @mocroposts.each do |mocropost| %>
    <%= render mocropost %>
    <p>
      <%= link_to "Show this mocropost", mocropost %>
    </p>
  <% end %>
</div>

<%= link_to "New mocropost", new_mocropost_path %>
