
<table class="table">
  <thead>
    <tr>
      <th scope="col">Question</th>
      <th scope="col">Answer</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>What is the goal of this app?</td>
      <td>I don't even know tbh... post about random stuff</td>
    </tr>
     <tr>
      <td>How do I post?</td>
      <td>Click the micropost and then post... simple as</td>
    </tr>
  </tbody>
</table>